.btn-publish{
    color: white;
    background-color: #FF9900;
    border-color: white;
}

.btn-publish:hover{
    color: white;
    background-color: #DC8400;
    border-color: white;
}

.btn-lb{
    color: white;
    background-color: #A5ECD7;
    border-color: white;
}

.btn-lb:hover{
    color: white;
    background-color: #80B6A6;
    border-color: white;
}

.btn-del{
    color: white;
    background-color: #FF0000;
    border-color: white;
}

.btn-del:hover{
    color: white;
    background-color: #B30000;
    border-color: white;
}
