{% extends 'users/base.html' %}
{% block content %}

{% if kreator and not user.is_superuser%}
    <!-- Flash Field -->
    {% if messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {% for message in messages %}
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {% endfor %}
    </div>
    {% endif %}

    <!-- Content Form -->
    <div class="col-lg-12">

        <div class="container">
            <div class="bg-5 border-2 p-3 rounded my-2">
                <h3 class="text-center">Konten Kreatif</h3>
        
                <form class="d-flex flex-column justify-content-center" action="#" method="POST">
                    {% csrf_token %}
                    <div class="form-group">

                        <div class="mb-3">
                            <label for="title" class="form-label">Judul</label>
                            <input type="text" class="form-control" id="inputJudul" placeholder="Judul" name="judul">
                        </div>
        
                        <div class="mb-3">
                            <label for="contentText" class="form-label">Isi</label>
                            <textarea class="form-control" id="inputIsi" rows="20" placeholder="Lorem Ipsum ..." name="isi"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="publish" class="form-label">Tanggal Publish</label>
                            <input class="form-control" type="date" id="publishDate" name="tanggalPublish">
                        </div>
        
                        <button type="submit" class="btn btn-block btn-1 border-2">Submit</button>
                    </div>
                </form>
            </div>
        </div>

    
    </div>

{% else %}
<div class="col-lg-12">

    <div class="container">
        <div class="bg-5 border-2 p-3 rounded my-2">
            <h3 class="text-center">User tidak mempunyai akses untuk menambah konten!</h3>
            <h3 class="text-center"><a class="nav-link text-dark" href="{% url 'konten:listKonten' %}"><u>Kembali ke Konten</u></a></h3>
        </div>
    </div>
    </div>
{% endif %}
{% endblock %}
