{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<!-- MODAL area -->
<link rel="stylesheet" href="{% static 'konten/css/konten.css' %}">

<!-- Flash Field -->
{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {% for message in messages %}
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  {% endfor %}
</div>
{% endif %}

{% if kreator and not user.is_superuser%}
<button type="button" onclick="window.location.href='./add';" class="btn btn-success btn-block">Tambah Konten Baru</button>
{% endif %}

{% for kontens in konten %}
<div class="modal fade" id="confirmDelete{{kontens.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-1 text-light">
          <h5 class="modal-title" id="exampleModalLongTitle">Konfirmasi Penghapusan</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body bg-5 text-center">
          <b>
              Apakah anda yakin untuk menghapus konten tersebut? Konten yang sudah dihapus <u>tidak dapat dipulihkan kembali</u>!
          </b>
        </div>

        <div class="modal-footer bg-1 d-flex justify-content-center">
        <form method="POST" action="{% url 'konten:deleteKonten' kontens.id %}">
            {% csrf_token %}
          <button type="submit" class="btn btn-success">DELETE</button>
        </form>
          <button type="button" class="btn btn-danger" data-dismiss="modal">CANCEL</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirmPublish{{kontens.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-1 text-light">
          <h5 class="modal-title" id="exampleModalLongTitle">Konfirmasi Publish</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body bg-5 text-center">
          <b>
              Apakah anda yakin untuk mempublish konten tersebut? Tanggal publish yang ditentukan sebelumnya akan <u>diabaikan</u> oleh sistem!
          </b>
        </div>

        <div class="modal-footer bg-1 d-flex justify-content-center">
        <form method="POST" action="{% url 'konten:publishKonten' kontens.id %}">
            {% csrf_token %}
          <button type="submit" class="btn btn-success">PUBLISH</button>
        </form>
          <button type="button" class="btn btn-danger" data-dismiss="modal">CANCEL</button>
        </div>
      </div>
    </div>
  </div>

<!-- HTML AREA -->
<div class="row">
  
    <div class="col-lg-12">
        <div class="bg-5 border-1 p-3 rounded my-2">
            <!-- Sementara judul dan tanggal publish begini dulu, mungkin lebih bagus klo pake d-flex -->
            <div class="row">
                <div class="col-lg-4">
                    <h1>{{kontens.judul}}</h1>
                </div>
                <div class="col-lg-4">
                    <p>
                        dipublish pada {{kontens.tanggalPublish}}<br>
                        ditulis oleh {{kontens.penulis.nama}}
                    </p>
                </div>
            </div>

            <div>
                <p class="mt-3">
                      {{kontens.isi}}
                      {% if not user.is_authenticated %}
                        ..<a href="{% url 'users:login' %}">Login untuk baca lebih lanjut</a>
                      {% endif %}
                    
                </p>
            </div>

            {% if user.is_authenticated and user.id == kontens.penulis.user.id or user.is_superuser%}  
            <div class="row">
              {% if kontens.isPublished == True %}
                <div class="col-md-12">
                    <button type="button" class="btn btn-del w-100" data-toggle="modal" data-target="#confirmDelete{{kontens.id}}">Hapus</button>
                </div>
              {% else %}
                <div class="col-md-6">
                    <button type="button" class="btn btn-del w-100" data-toggle="modal" data-target="#confirmDelete{{kontens.id}}">Hapus</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn w-100 btn-primary" data-toggle="modal" data-target="#confirmPublish{{kontens.id}}">Publish Sekarang</button>
                </div>
              {% endif %}
    
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
