{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- External CSS -->
    <link rel="stylesheet" href="{% static 'users/css/base.css' %}">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <!-- Extra Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rubik&display=swap" rel="stylesheet">
    
    <title>Kursus Plus</title>
  </head>
  <body class="body">

    <nav class="navbar smart-scroll navbar-expand-lg navbar-light h3 m-0">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="{% url 'dashboard:upcoming' %}">
                <img src="{% static 'users/img/logo.svg' %}" width="60" height="60" class="d-inline-block align-top" alt="">
                <h3 class="m-0 p-0 ml-3"><u>Kursus Plus</u></h3>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'courses:courses_list' %}"><u>Courses</u></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'konten:listKonten' %}"><u>Konten</u></a>
                </li>
            </ul>
            <div class="nav-item dropdown border-1 bg-5 rounded">
                <div class="nav-link dropdown-toggle h4 m-0" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{request.user.username}}
                </div>
                <div class="dropdown-menu  dropdown-menu-right bg-3" aria-labelledby="navbarDropdown">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <a class="dropdown-item" href="{% url 'users:profile' %}">Profil</a>
                        <a class="dropdown-item" href="{% url 'users:saldo' %}">Isi Saldo</a>
                        <div class="dropdown-divider"></div>
                        <a class="btn btn-danger w-75" href="{% url 'users:logout' %}">Logout</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
      </nav>

      <div class="item-container container pt-3">
        {% block content %}
        {% endblock %}
      </div>



      <footer class="bg-2 p-2 text-light d-flex align-items-center justify-content-center h4 m-0">
            © Kursus Plus 2020
      </footer>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <!-- External JS -->
    <script src="{% static 'users/js/base.js' %}"></script>

    </body>
</html>