{% extends 'users/base.html' %}
{% load static %}
{% block content %}

<div class="d-flex justify-content-around">
</div>
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Edit profile untuk {{user.nama}}</h1>
        <div class="bg-5 border-1 p-3 rounded mb-4 col-sm-12 align-self-start">
            <div class="justify-content-around mt-2">
                <div class="row">
                    <div class="col-lg-4 text-center">
                        <img width="130" height="130" class="d-inline-block align-top rounded-circle" src="{{user.foto_profil}}">
                    </div>
                    <div class="col-lg-7">
                        <div class="text-center mt-5">
                            <h4 class="mt-2">{{user.nama}}</h4>
                            <h4>{{user.user.email}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Deskripsi :</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="deskripsi" rows="3">{{user.deskripsi}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Minat :</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="minat" rows="3">{{user.bidang_minat}}</textarea>
                    </div>
                    <div class="mt-4">
                        <button class="btn btn-success w-100" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}