{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- External CSS -->
    <link rel="stylesheet" href="{% static 'users/css/base.css' %}">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <!-- Extra Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rubik&display=swap" rel="stylesheet">
    
    <title>Kursus Plus</title>
  </head>
  <body class="body">

    <div class="min-vh-100 p-2 beach-bg">
        <div class="d-flex justify-content-between align-items-center">
            <a class="navbar-brand d-flex align-items-center text-dark" href="#">
                <img src="{% static 'users/img/logo.svg' %}" width="60" height="60" class="d-inline-block align-top" alt="">
                <h3 class="m-0 p-0 ml-3"><u>Kursus Plus</u></h3>
            </a>

            <div>
                <a href="{% url 'users:register' %}">
                    <button class="btn btn-1 border-3">
                        Register
                    </button>
                </a>

                <a href="{% url 'users:login' %}">
                    <button class="btn btn-3 border-1">
                        Login
                    </button>
                </a>
            </div>
        </div>

        <div class="item-container-no-nav flex-column d-flex justify-content-center align-items-center">
            <h2 class="quote text-center quote-shadow">“Distance should not be a hassle for education.”</h2>
            <h3 class="quote text-center mb-4 quote-shadow">we agree.</h3>
            <a href="{% url 'users:register' %}">
                <button class="btn border-2 rounded p-2 btn-3 quote">
                        Daftar sekarang
                </button>
            </a>
        </div>
    </div>

    <div class="body-landing min-vh-100 p-3">
        <h2 class="text-center my-5">Mengapa Online Learning?</h2>

        <div class="row">
            <div class="col-lg-4 col-sm-12 mt-2">
                <div class="h-100 bg-3 border-1 rounded p-2 landing-card d-flex flex-column justify-content-center align-items-center">
                    <img class="m-3" src="{% static 'users/img/earth.svg' %}">
                    <h4>Terbuka</h4>
                    <p class="text-center">Baik berbeda kota, provinsi, atau bahkan berbeda pulau, kami percaya bahwa jarak bukan masalah untuk pendidikan di zaman kini.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 mt-2">
                <div class="h-100 bg-3 border-1 rounded p-2 landing-card d-flex flex-column justify-content-center align-items-center">
                    <img class="m-3" src="{% static 'users/img/clock.svg' %}">
                    <h4>Fleksibel</h4>
                    <p class="text-center">Pengaturan waktu kapan anda ingin belajar adalah keputusan anda, bukan kami.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 mt-2">
                <div class="h-100 bg-3 border-1 rounded p-2 landing-card d-flex flex-column justify-content-center align-items-center">
                    <img class="m-3" src="{% static 'users/img/hand.svg' %}">
                    <h4>Hemat</h4>
                    <p class="text-center">Tidak ada biaya transportasi, ruangan, atau infrastruktur, cukup membayar jasa pengajar saja.</p>
                </div>
            </div>
        </div>

        <h1 class="text-center mt-4">Daftar sekarang!</h1>
    </div>






        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- External JS -->
        <script src="{% static 'users/js/base.js' %}"></script>

    </body>
</html>