{% extends 'users/login_reg_base.html' %}
{% block content %}

<div class="d-flex justify-content-center align-items-center flex-column">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
            {{message}}
        </div>
        {% endfor %}
    {% endif %}

    <div class="bg-3 border-1 p-4 rounded mt-2 login-form">
        <h3 class="text-center">Selamat datang kembali</h3>

        <form class="d-flex flex-column justify-content-center" action="{% url 'users:login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
            <label for="name-in">Username</label>
            <input name="username" type="text" class="form-control" id="name-in" placeholder="Username">
            </div>
            <div class="form-group">
            <label for="pass-in">Password</label>
            <input name="password" type="password" class="form-control" id="pass-in" placeholder="Password">
            </div>
            <p>Belum punya akun? <a href="{% url 'users:register' %}">Register</a></p>
            <button type="submit" class="btn btn-1 border-2">Login</button>
        </form>
    </div>
</div>

{% endblock %}