<div class="col-md-5 px-4 align-self-end overflow-auto">
    <div class="card text-center bg-5 border-1 rounded my-2 row align-self-center">
        <div class="card-body">
            <h5><b>Sangat Baik</b></h5>
            <h6>user123 sudah sangat cerdas dalam mempelajari fisika Termodinamika dan materi listrik statis</h6>
            <div class="p-1">
                <h6>Assessment dari subcourse</h6>
                <h6>Fisika I</h6>
            </div>

        </div>
    </div>
    <div class="card text-center bg-5 border-1 rounded my-2 row align-self-center">
        <div class="card-body">
            <h5><b>Sangat Baik</b></h5>
            <h6>user123 sudah sangat cerdas dalam mempelajari fisika Termodinamika dan materi listrik statis</h6>
            <div class="p-1">
                <h6>Assessment dari subcourse</h6>
                <h6>Fisika I</h6>
            </div>
        </div>
    </div>
    <div class="card text-center bg-5 border-1 rounded my-2 row align-self-center">
        <div class="card-body">
            <h5><b>Sangat Baik</b></h5>
            <h6>user123 sudah sangat cerdas dalam mempelajari fisika Termodinamika dan materi listrik statis</h6>
            <div class="p-1">
                <h6>Assessment dari subcourse</h6>
                <h6>Fisika I</h6>
            </div>
        </div>
    </div>
</div>
