{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-around">
        <h1>Edit profile untuk {{user.nama}}</h1>
        <div class="text-center">
            <h6><b>Assessment</b></h6>
            <h6><b>Untuk {{user.nama}}</b></h6>
        </div>
    </div>
    <div class="row">
        <div class="bg-5 border-1 p-3 rounded mb-4 col-md-7 col-sm-12 align-self-start">
            <div class="d-flex justify-content-around mt-2">
                <img src="{{user.foto_profil}}" width="130" height="130" class="d-inline-block align-top rounded-circle" alt="">
                <div class="text-center mt-4 mr-5">
                    <h4 class="mt-2"><b>Halo! Saya {{user.nama}}</b></h4>
                    <h4>{{user.user.email}}</h4>
                </div>
            </div>
            <div class="mt-4 ml-5">
                <p><b>Deskripsi :</b></p>
                <p>{{user.deskripsi}}</p>
                <p><b>Minat :</b></p>
                <p>{{user.bidang_minat}}</p>
                <a class="btn btn-primary w-100" href="{% url 'users:edit' %}">Edit</a>
            </div>


        </div>
        {% include 'users/profile_sidebar.html' %}

    </div>
{% endblock %}