{% extends 'users/login_reg_base.html' %}
{% block content %}

<div class="d-flex justify-content-center align-items-center flex-column">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
            {{message}}
        </div>
        {% endfor %}
    {% endif %}
    <div class="bg-3 border-1 p-4 rounded mt-2 login-form">
        <h3 class="text-center">Selamat datang di Kursus Plus</h3>
        
        <form method="POST" action="{% url 'users:register' %}" class="d-flex flex-column justify-content-center">
            {% csrf_token %}
            <div class="form-group">
            <label for="email-in">Email</label>
            <input name="email" type="text" class="form-control" id="email-in" placeholder="Email">
            </div>
            <div class="form-group">
            <label for="name-in">Username</label>
            <input name="username" type="text" class="form-control" id="name-in" placeholder="Username">
            </div>
            <div class="form-group">
            <label for="pass-in">Password</label>
            <input name="password1" type="password" class="form-control" id="pass-in" placeholder="Password">
            </div>
            <div class="form-group">
            <label for="pass2-in">Confirm Password</label>
            <input name="password2" type="password" class="form-control" id="pass2-in" placeholder="Password Confirm">
            </div>
            <p>Sudah punya akun? <a href="{% url 'users:login' %}">Login</a></p>
            <button type="submit" class="btn btn-1 border-2">Daftar</button>
        </form>
    </div>
</div>

{% endblock %}