{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <div class="content">
        <h3>Saldo anda sekarang : <b><u>RP {{ saldo }},00</u></b>  </h3>
        <div class="row justify-content-between">
            <div class="bg-5 border-1 p-3 rounded my-2 col-lg-7 mt-3">
                <h3 class="mt-2"><b>Isi Saldo</b></h3>
                <div class="form-check">
                    <input class="form-saldo-input" type="radio" name="isi_saldo" id="saldo100k" value="100000">
                    <label class="m-2 h4" for="saldo100k"> Rp. 100.000,00 </label>
                    <br>
                    <input class="form-saldo-input" type="radio" name="isi_saldo" id="saldo200k" value="200000">
                    <label class="m-2 h4" for="saldo200k"> Rp. 200.000,00 </label>
                    <br>
                    <input class="form-saldo-input" type="radio" name="isi_saldo" id="saldo500k" value="500000">
                    <label class="m-2 h4" for="saldo500k"> Rp. 500.000,00 </label>
                    <br>
                    <input class="form-saldo-input" type="radio" name="isi_saldo" id="saldo1000k" value="1000000">
                    <label class="m-2 h4" for="saldo1000k"> Rp. 1.000.000,00 </label>
                </div>
                <!-- Button trigger modal -->
                <div class="row justify-content-center">
                    <button type="button" class="btn btn-primary mt-2" data-target="#exampleModal" onclick="modalClicked()">
                        Konfirmasi Pengisian Saldo
                    </button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered item" role="document">
                        <div class="row justify-content-center">
                            <div class="modal-content col-md-9 col-lg-6 bg-5">
                                <div class="modal-body text-center">
                                    <p>Anda akan mengisi Saldo sebesar</p>
                                    <p id="beli_saldo">Rp. 0</p>
                                    <p>Dengan mengisi saldo anda tidak bisa melakukan refund</p>
                                    <form method="POST" action="{% url 'users:saldo' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="tambah_saldo" id="tambah_saldo" value="0">
                                        <button type="submit" class="btn btn-info" >Setuju dan Isi Saldo</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function modalClicked() {
            var radio_button = window.document.getElementsByName('isi_saldo');
            for (i=0; i<radio_button.length;i++){
                if (radio_button[i].checked){
                    window.document.getElementById('tambah_saldo').value = radio_button[i].value
                    if (radio_button[i].value == 100000){
                        window.document.getElementById('beli_saldo').innerHTML = "Rp. 100.000,00";
                    }
                    else if (radio_button[i].value == 200000){
                        window.document.getElementById('beli_saldo').innerHTML = "Rp. 200.000,00";
                    }
                    else if (radio_button[i].value == 500000){
                        window.document.getElementById('beli_saldo').innerHTML = "Rp. 500.000,00";
                    }
                    else if (radio_button[i].value == 1000000){
                        window.document.getElementById('beli_saldo').innerHTML = "Rp. 1.000.000,00";
                    }
                }
            }
            $('#exampleModal').modal('toggle');
        }
    </script>


{% endblock %}