{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'video_call_css/video_call.css' %}">
          
<!-- MODAL area -->
  <div class="modal fade" id="modalKonfirmasi" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-1 text-light">
          <h5 class="modal-title" id="exampleModalLongTitle">Konfirmasi Pembelian</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body bg-5 text-center">
          <b>
              Dengan klik selesaikan maka sesi kursus dianggap selesai dan anda TIDAK bisa kembali ke sesi kursus
          </b>

          <p class="mt-3">
              <u>Klik setuju untuk konfirmasi selesaikan kursus</u>
          </p>
        </div>
        <div class="modal-footer bg-1 d-flex justify-content-center">
        <form method="POST" action="{% url 'video_call:sesi_kursus' appointment.id %}">
            {% csrf_token %}
          <button type="submit" class="btn btn-success">SETUJU</button>
        </form>
          <button type="button" class="btn btn-danger" data-dismiss="modal">CANCEL</button>
        </div>
      </div>
    </div>
  </div>




<div class="row">
    <div class="col-lg-8 col-sm-12 w-100">
        <div class="video_call_box">

          <div id="meet"></div>

        </div>
    </div>

    <div class="col-lg-4 col-sm-12 w-100 d-flex flex-column justify-content-between">
        <div class="border-1 bg-5 p-3 rounded text-center detail_box">
            <h3>{{appointment.bagian_dari.subcourse_dibeli.nama}}</h3>
            <p>Sesi kursus ke-{{appointment_ke}} dari {{total_apt}}</p>

            <p>{{appointment.waktu_kursus.date}}</p>
            <p>Dimulai pada {{appointment.waktu_kursus.hour}}:00</p>
        </div>

        <div class="border-1 bg-5 p-3 rounded text-center end_box">
            <h4>Status sesi : {{appointment.status}}</h4>
            <p>Kursus sudah selesai? Klik tombol dibawah</p>
            <button data-toggle="modal" data-target="#modalKonfirmasi" class="btn btn-danger text-light border-white">
                Selesaikan Kursus
            </button>
        </div>
    </div>
</div>


<script src='https://meet.jit.si/external_api.js'></script>
<script>
  const TOOLBAR_BUTTONS = [
        'microphone',
        'camera',
        'desktop',
        'fullscreen'
      ];

  const SETTINGS_SECTIONS = ['devices', 'language']
  const domain = 'meet.jit.si';
  const options = {
    roomName: 'Kursus-Plus-{{appointment.kode_video_call}}',
    width: "100%",
    height: 400,
    parentNode: document.querySelector('#meet'),
    userInfo: {
        displayName: '{{request.user.username}}'
    }
    ,
    interfaceConfigOverwrite: {
        TOOLBAR_BUTTONS,
      }

  };

  const api = new JitsiMeetExternalAPI(domain, options);
</script>

{% endblock %}