{% extends 'users/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'courses_css/courses.css' %}">

<!-- MODAL area -->
  <div class="modal fade" id="modalKonfirmasi" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-1 text-light">
          <h5 class="modal-title" id="exampleModalLongTitle">Konfirmasi Pembelian</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body bg-5 text-center">
          <b>
              Dengan membeli sesi-sesi kursus, saldo dari akun anda akan dipotong,
              dan anda setuju bahwa <u>tidak ada refund</u> setelah pembelian
          </b>

          <p class="mt-3">
              <u>Klik setuju untuk konfirmasi pembelian</u>
          </p>
        </div>
        <div class="modal-footer bg-1 d-flex justify-content-center">
        <form method="POST" action="{% url 'courses:checkout' subcourse.id %}">
            {% csrf_token %}
          <button type="submit" class="btn btn-success">SETUJU</button>
        </form>
          <button type="button" class="btn btn-danger" data-dismiss="modal">CANCEL</button>
        </div>
      </div>
    </div>
  </div>

<!-- HTML area -->

<h2 class="text-center">Checkout subcourse Lorem Ipsum 1</h2>
<div class="row">
    <!-- Main box -->
    <div class="col-lg-8 col-sm-12">
        <div class="bg-5 border-1 p-2 rounded d-flex flex-column">

            <h3 class="text-center">Jadwal tersedia</h3>
            <p class="text-center"><u>Anda boleh memilih max. 4 jadwal</u></p>

            <table class="text-center jadwal-table">
                <tr>
                  <th></th>
                  <th>Senin</th>
                  <th>Selasa</th>
                  <th>Rabu</th>
                  <th>Kamis</th>
                  <th>Jumat</th>
                  <th>Sabtu</th>
                  <th>Minggu</th>
                </tr>
                <tr>
                    <td>08:00 - 09:00</td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                </tr>
                <tr>
                    <td>09:00 - 10:00</td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                </tr>
                <tr>
                    <td>10:00 - 11:00</td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                </tr>
                <tr>
                    <td>11:00 - 12:00</td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-available">
                    </td>
                    <td class="bg-available">
                    </td>
                    <td class="bg-available">
                    </td>
                    <td class="bg-available">
                    </td>
                    <td class="bg-available">
                    </td>
                    <td class="bg-secondary">
                    </td>
                </tr>

                <tr>
                    <td>12:00 - 13:00</td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-available">
                    </td>
                    <td class="bg-available">
                    </td>
                    <td class="bg-available">
                    </td>
                    <td class="bg-available">
                    </td>
                    <td class="bg-available">
                    </td>
                    <td class="bg-secondary">
                    </td>
                </tr>

                <tr>
                    <td>13:00 - 14:00</td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                </tr>

                <tr>
                    <td>14:00 - 15:00</td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                </tr>

                <tr>
                    <td>15:00 - 16:00</td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-available">
                    </td>
                    <td class="bg-available">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-available">
                    </td>
                    <td class="bg-available">
                    </td>
                    <td class="bg-available">
                    </td>
                </tr>

                <tr>
                    <td>16:00 - 17:00</td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                </tr>

                <tr>
                    <td>17:00 - 18:00</td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                </tr>

                <tr>
                    <td>18:00 - 19:00</td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                </tr>

                <tr>
                    <td>19:00 - 20:00</td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                    <td class="bg-secondary">
                    </td>
                </tr>

            </table>


        </div>
    </div>

    <!-- Konten terbaru box -->
    <div class="col-lg-4 col-sm-12">
        <div class="bg-5 border-1 p-2 rounded d-flex flex-column text-center align-items-center">
            <h3 class="my-2 text-center">Checkout</h3>

            <!-- Konten box -->
            <div class="d-flex align-items-center my-2">
            </div>

            <table class="table-harga">
                <tr>
                    <td class="table-harga cell-ket">Saldo anda:</td>
                    <td class="table-harga cell-harga">Rp {{request.user.studentprofile.saldo}},00</td>
                </tr>
                <tr>
                    <td class="table-harga cell-ket">Biaya kursus:</td>
                    <td class="table-harga cell-harga">Rp {{subcourse.harga}},00</td>
                </tr>
            </table>

            <div class="separator my-3"></div>

            <p class="p-0 m-0 mb-4">
                <b>
                    <u>
                    Nominal saldo setelah pembelian:
                    <br>
                    Rp {{nominal_after}},00
                    </u>
                </b>
            </p>

            {% if is_negatif %}
                Saldo tidak cukup!
                <br>
                silahkan isi saldo dahulu
            {% endif %}

            <a href="{% url 'users:saldo' %}">
                <u>Isi saldo</u>
            </a>

            <button class="btn btn-1 w-75" data-toggle="modal" data-target="#modalKonfirmasi"
                {% if is_negatif %}
                disabled
                {% endif %}
            >
                Konfirmasi Pembelian
            </button>

            <a class="btn btn-danger mt-2 w-75" href="{% url 'courses:subcourse_detail' subcourse.id %}">
                Cancel
            </a>

        </div>

        

    </div>
</div>

{% endblock %}