{% extends 'users/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'courses_css/courses.css' %}">
<div class="row">
    <!-- Courses box -->
    <div class="col-lg-8 col-sm-12">
        <h2>Courses tersedia: </h2>

        <!-- Course individual box -->
        {% for course in courses %}
        <div class="bg-5 border-1 p-3 rounded my-2">
            <div class="d-flex align-items-center">
                <h2 class="p-0 m-0">{{course.0.nama}}</h2>
                <span class="ml-2">Terbagi menjadi {{course.1}} subcourse</span>
            </div>

            <p class="my-2">
                {{course.0.deskripsi}}
            </p>

            <a class="text-dark" href="{% url 'courses:subcourses_list' course.0.id %}">
                <h4 class="text-center"><u>Lihat semua Subcourse...</u></h4>
            </a>
        </div>
        {% endfor %}

        
    </div>

    <!-- Konten terbaru box -->
    <div class="col-lg-4 col-sm-12">
        
        {% include 'courses/konten_sidebar.html'  %}

    </div>
</div>

{% endblock %}