<div class="bg-5 border-1 p-2 rounded d-flex flex-column">
    <h3 class="my-2 text-center">Konten Terbaru</h3>

    <!-- Konten box -->
    <div class="d-flex align-items-center my-2">
        <a href="{% url 'konten:listKonten' %}">
            <img class="konten-img-sm" src="https://via.placeholder.com/100">
        </a>
        <div class="ml-2">
            <a class="m-0 p-0 text-dark" href="{% url 'konten:listKonten' %}">
                <b><u>Lorem ipsum</u></b>
            </a>
            <p class="m-0 p-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
            </p>
        </div>
    </div>
    <div class="d-flex align-items-center my-2">
        <a href="{% url 'konten:listKonten' %}">
            <img class="konten-img-sm" src="https://via.placeholder.com/100">
        </a>
        <div class="ml-2">
            <a class="m-0 p-0 text-dark" href="{% url 'konten:listKonten' %}">
                <b><u>Lorem ipsum</u></b>
            </a>
            <p class="m-0 p-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
            </p>
        </div>
    </div>
    <div class="d-flex align-items-center my-2">
        <a href="{% url 'konten:listKonten' %}">
            <img class="konten-img-sm" src="https://via.placeholder.com/100">
        </a>
        <div class="ml-2">
            <a class="m-0 p-0 text-dark" href="{% url 'konten:listKonten' %}">
                <b><u>Lorem ipsum</u></b>
            </a>
            <p class="m-0 p-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
            </p>
        </div>
    </div>
    <div class="d-flex align-items-center my-2">
        <a href="{% url 'konten:listKonten' %}">
            <img class="konten-img-sm" src="https://via.placeholder.com/100">
        </a>
        <div class="ml-2">
            <a class="m-0 p-0 text-dark" href="{% url 'konten:listKonten' %}">
                <b><u>Lorem ipsum</u></b>
            </a>
            <p class="m-0 p-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
            </p>
        </div>
    </div>
</div>