{% extends 'users/base.html' %}
{% load crispy_forms_filters %}

{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static 'courses_css/courses.css' %}">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger fade show" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <!-- Main box -->
        <div class="col-lg-8 col-sm-12">
            <h2 class="ml-1">Tentang subcourse {{subcourse.nama}}</h2>

            <!-- Subcourse detail box -->
            <div class="bg-5 border-1 p-3 rounded my-2">

                <p class="my-2">
                    {{subcourse.deskripsi}}
                </p>

                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column">
                        <p class="p-0 m-0">
                            Bagian dari course :
                            <a class="text-dark" href="{% url 'courses:subcourses_list' subcourse.course.id %}">
                                <u>{{subcourse.course.nama}}</u>
                            </a>
                        </p>

                        <p class="p-0 m-0">
                            Waktu dibutuhkan : <u>{{subcourse.jam_dibutuhkan}} Jam</u>
                        </p>
                        <div class="mt-3 mb-2">
                        <span class="h4 p-2 rounded bg-5 border-1">
                            Rp {{subcourse.harga}},00
                        </span>
                        </div>
                    </div>

                    <a class="btn btn-1 border-1" href="{% url 'courses:checkout' subcourse.id %}">
                        Lihat jadwal tersedia
                        <br>
                        dan
                        <br>
                        Checkout
                    </a>
                </div>

            </div>
            <div class="row ml-1 mt-4 justify-content-between mr-3">
                <h3>Rata-rata rating: {{ bintang_avg }}</h3>
                <button type="button" class="btn btn-1" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"
                        {% if cannot_review %}
                        disabled
                        {% endif %}>
                    Add review</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

                    <div class="modal-dialog" role="document">
                        <div class="modal-content border-1">
                            <div class="modal-header">
                                <h5 class="modal-title " id="exampleModalLabel">Add Review</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <form action="{% url 'courses:subcourse_detail' subcourse_id%}" method="POST">
                                    <div class="modal-body">
                                        {% csrf_token %}
                                        {% load crispy_forms_tags %}
                                        {{ form_review|crispy }}
                                    </div>
                                    <div class="modal-footer">
                                        <button
                                                type="button"
                                                class="btn btn-secondary"
                                                data-dismiss="modal"
                                        >
                                            Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">
                                            Add Review
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            {% for review in reviews %}
                <div class="bg-5 border-1 p-3 rounded my-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="m-0 p-0">{{ review.judul }} by {{ review.nama }}</h3>
                        <div id="review_bintang">
                            {% if review.bintang == 5 %}
                                <img src="{% static 'courses_img/star.svg' %}">
                                <img src="{% static 'courses_img/star.svg' %}">
                                <img src="{% static 'courses_img/star.svg' %}">
                                <img src="{% static 'courses_img/star.svg' %}">
                                <img src="{% static 'courses_img/star.svg' %}">
                            {% elif review.bintang == 4 %}
                                <img src="{% static 'courses_img/star.svg' %}">
                                <img src="{% static 'courses_img/star.svg' %}">
                                <img src="{% static 'courses_img/star.svg' %}">
                                <img src="{% static 'courses_img/star.svg' %}">
                            {% elif review.bintang == 3 %}
                                <img src="{% static 'courses_img/star.svg' %}">
                                <img src="{% static 'courses_img/star.svg' %}">
                                <img src="{% static 'courses_img/star.svg' %}">
                            {% elif review.bintang == 2 %}
                                <img src="{% static 'courses_img/star.svg' %}">
                                <img src="{% static 'courses_img/star.svg' %}">
                            {% elif review.bintang == 1 %}
                                <img src="{% static 'courses_img/star.svg' %}">
                            {% endif %}
                        </div>
                    </div>
                    <p>{{ review.deskripsi }}</p>
                </div>
            {% endfor %}

        </div>

        <!-- Konten terbaru box -->
        <div class="col-lg-4 col-sm-12">
            {% include 'courses/konten_sidebar.html'  %}

        </div>
    </div>


{% endblock %}