{% extends 'users/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'courses_css/courses.css' %}">
<div class="row">
    <!-- Courses box -->
    <div class="col-lg-8 col-sm-12">
        <h2>Subcourses untuk Course X: </h2>

        <!-- Course individual box -->
        {% for subcourse in subcourses %}
        <div class="bg-5 border-1 p-3 rounded my-2">
            
            <h2 class="p-0 m-0">{{subcourse.nama}}</h2>

            <p class="my-2">
                {{subcourse.deskripsi}}
            </p>

            <div class="d-flex justify-content-between align-items-center">
                <a class="text-dark" href="{% url 'courses:subcourse_detail' subcourse.id %}">
                    <h4 class="p-0 m-0">
                        <u><b>Lihat detail...</b></u>
                    </h4>
                </a>

                <div class="border-1 bg-5 p-1 rounded">
                    <h4 class="p-0 m-0">
                        Rp {{subcourse.harga}},00
                    </h4>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>

    <!-- Konten terbaru box -->
    <div class="col-lg-4 col-sm-12">
        {% include 'courses/konten_sidebar.html'  %}
    </div>
</div>

{% endblock %}