{% extends 'users/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
<div class="row">
    <!-- Courses box -->
    <div class="col-lg-8 col-sm-12">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}} fade show" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}

        <h2>Selamat Datang,<br>{{user.nama}}</h2>

        <!-- Course individual box -->
        <div class="bg-5 border-1 p-3 rounded my-2">

            <div class="row">
                {% if apts %}
                    {% for appointment in apts %}
                    <div class="col-lg-12 col-sm-12">
                        <div class="bg-upcoming border-1 p-3 rounded my-2">
                            <div class="row">
                                <div class="col-lg-3 text-center">
                                    <img class="upcoming-img rounded-circle" src="https://via.placeholder.com/150">
                                </div>
                                <div class="col-lg-9">
                                    <div class="ml-3">
                                        <h3 class="m-0 p-0">
                                            {{appointment.0}}
                                        </h3>
                                        <p class="m-0 p-0">
                                            {{appointment.1}}
                                        </p>
                                        <p class="m-0 p-0 mt-1">
                                            {{appointment.2}}<br>
                                            {{appointment.3}}
                                        </p>
                                        <div class="row">
                                            <div class="col-md-6 mb-2">
                                                <a class="btn btn-light w-100" href="{% url 'video_call:sesi_kursus' appointment.4 %}">Join Video Call</a>
                                            </div>
                                            <div class="col-md-6">
                                                <a class="btn btn-danger w-100" href="#">Undur Jadwal</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %} 
                {% else %}
                    <div class="col-lg-12">
                        <p>Kamu tidak memiliki appointment, ayo daftar di subcourse yang tersedia</p>
                    </div>
                {% endif %}
                
            </div>
        </div>
        
    </div>

    <!-- Konten terbaru box -->
    <div class="col-lg-4 col-sm-12">
        {% include 'courses/konten_sidebar.html'  %}
    </div>
</div>

{% endblock %}