.video_call_box {
    height: 400px;
    width: 100%;
    background-color: gray;
}

@media(max-width:768px) {
    .detail_box {
        margin: 10px 0 0 0;
    }
    .end_box {
        margin: 10px 0 10px 0;
    }
}