* {
    font-family: 'Rubik', sans-serif;
}

.quote {
    font-family: 'Playfair Display', sans-serif;
}

.quote-shadow {
    text-shadow: 2px 2px 10px #000000;
}

.landing-card {
    box-shadow: 2px 4px 5px #000000;
}

.separator {
    border: 2px black solid;
    width: 80%;
}

.konten-img-sm {
    width: 100px;
    height: 100px;
}

.navbar {
    background-color: transparent;
    transition-duration: 1s;
}

.navbar:hover {
    background-color: rgb(255,255,255, 0.3);
    transition-duration: 1s;
}

.bg-1 {
    background-color: #0278AE;
}

.bg-2 {
    background-color: #51ADCF;
}

.bg-3 {
    background-color: #A5ECD7;
}

.bg-4 {
    background-color: #E8FFC1;
}

.bg-5 {
    background-color: #E9DFD6;
}

.bg-available {
    background-color: #24FF00;
}

.bg-chosen {
    background-color: #FF9900;
}

.btn-1 {
    background-color: #0278AE;
    color: white !important;
    transition: 0.5s;
}

.btn-1:hover {
    background-color: #51ADCF;
    color: black !important;
    transition: 0.5s;
}

.btn-3 {
    background-color: #A5ECD7;
    color: black !important;
    transition: 0.5s;
}

.btn-3:hover {
    background-color: #0278AE;
    color: white !important;
    transition: 0.5s;
}

.beach-bg {
    background-image: url(../img/beach.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.border-1 {
    border: 3px #0278AE solid;
}

.border-2 {
    border: 3px #51ADCF solid;
}

.border-3 {
    border: 3px #A5ECD7 solid;
}

.border-4 {
    border: 3px #E8FFC1 solid;
}

.border-5 {
    border: 3px #E9DFD6 solid;
}

.border-white {
    border: 3px white solid;
}

.body {
    background: rgb(233,223,214);
    background: linear-gradient(0deg, rgba(233,223,214,1) 0%, rgba(81,173,207,1) 100%);
}

.body-landing {
    background: rgba(81,173,207,1);
    background: linear-gradient(0deg, rgba(81,173,207,1), rgb(233,223,214) 100%);
}


.item-container {
    min-height: calc(100vh - 86px - 70px);
    padding-bottom: 10px;
}

.item-container-no-nav {
    height: calc(100vh - 70px);
}

footer {
    height: 60px;
}