* {
    font-family: 'Rubik', sans-serif;
}

.bg-1 {
    background-color: #0278AE;
}

.bg-2 {
    background-color: #51ADCF;
}

.bg-3 {
    background-color: #A5ECD7;
}

.bg-4 {
    background-color: #E8FFC1;
}

.bg-5 {
    background-color: #E9DFD6;
}

.border-1 {
    border: 3px #0278AE solid;
}

.border-2 {
    border: 3px #51ADCF solid;
}

.border-3 {
    border: 3px #A5ECD7 solid;
}

.border-4 {
    border: 3px #E8FFC1 solid;
}

.border-5 {
    border: 3px #E9DFD6 solid;
}

.body {
    background: rgb(233,223,214);
    background: linear-gradient(0deg, rgba(233,223,214,1) 0%, rgba(81,173,207,1) 100%);
}

.item-container {
    min-height: calc(100vh - 86px);
}

footer {
    height: 60px;
}